html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


body header {
    width: auto;
    margin: 0;
    display: flexbox;
    background-image: url("./Images/webdevheader.jpeg");
    border: solid 2px black;
    
    
    
}

header h1 {
    text-align: center;
    color: white;
    padding: 30px;
    
}

header adress {
    color: white;
    margin-bottom: 8px;
    margin-top: 0px;
    margin-left: 8px;
}

.nolink {
    text-decoration: none;
    color: white;

}

header a:hover {
    color: rgb(183, 255, 255);
}

nav {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 21, 23, 0.88);
    border-radius: 10px;
    width: fit-content;
    box-shadow: 10px;
    
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 0;

}

li {
    width: fit-content;
}

nav li {
    display: inline-block;
    text-align: center;
    padding-inline: 0px;
    margin-inline: 0px;
    font-weight: bold;
}

body li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

main li a {
    text-decoration: none;
    color: black;
}

.slctpg {
    color: rgb(245, 161, 57);
}

nav a:hover {
    color: rgb(254, 179, 88);
    /* background-color: rgba(13, 21, 23, 0.88); */
}

nav a {
    padding: 10px;
}

main {
    /* background-color: rgb(199, 199, 199); */
    margin: 10px;
}

.bgul {
    background-color: rgb(186, 186, 186);
    width: fit-content;
    padding: 10px;
}

footer {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: x-small;
    box-sizing: content-box;
    box-decoration-break: inherit;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 0px;
}

.textecentre {
    text-align: center;
    align-content: center;
}

.cadre {
    border-image: 12px;
}

.titre {
    font-weight: bold;
    letter-spacing: 2px;
}

.indent {
    text-indent: 10px;
}

.container {
    height: auto;
    background-color: rgb(204, 200, 196);
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    min-height: 100vh;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.securemarge {
    margin-top: 25px;
}

#nomarge {
    margin: 0;
}

textarea {
    border-radius: 3px;
}

main {
    margin: 0 20px 0 20px;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

address {
    color : white;
    margin-left: 8px ;
    margin-bottom: 8px;
    margin-top: 0px;
}

main div li {
    align-content: center;
    margin: auto;
    list-style-type: none;
    padding: 5px;
}

main div li a:hover {
    color: aliceblue;
    background-color: rgb(104, 104, 104);
    padding: 2px;
    border-radius: 3px;
}

.centerimage {
    margin: auto;
}

#divforma {
    width: fit-content;
    margin: auto;
}

.centercontent {
    margin: auto;
    padding: 5px;
}

#isolate {
    margin: 20px;
}

img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    border-radius: 5px;
}